<ion-view title="Accueil">
  <ion-content class="has-header" scroll="false">
    <div class="list list-table">
    	<a class="item bg bg-50-1" href="#/app/challenges">
    		<div class="item-inner item-50 item-icon-right">
    			<h2>Défis</h2>
    			<p>Lancez et visualisez des joutes entre d'augustes Apollons qui n'attendent que vos commandes</p>
                <i class="icon ion-ios7-telephone-outline arrow-menu"></i>
    		</div>
    	</a>
    	<a class="item bg bg-50-2 item-icon-right" href="#/app/profils">
    		<div class="item-inner item-50">
    			<h2>Profil</h2>
    			<p>Jetez un oeil admiratif sur les modestes prétendants des contrées alentours</p>
                <i class="icon ion-ios7-telephone-outline arrow-menu"></i>
    		</div>
    	</a>
    </div>
  </ion-content>
</ion-view>
