<ion-view title="Browse">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll="false">
    <div class="list list-table">
    	<a class="item" href="#/app/challenge">
    		<div class="item-inner">
    			<h2>Défis</h2>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia non, veritatis sequi blanditiis recusandae numquam nobis quis minima labore repellendus libero accusamus odio nihil delectus cum vero enim quo? Consequatur?</p>
    		</div>
    	</a>
    	<a class="item" href="#">
    		<div class="item-inner">
    			<h2>Profil</h2>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error commodi debitis, fugiat dolorem tempora amet facere, veritatis nostrum expedita magni quos doloribus. Maxime vitae temporibus est, neque saepe praesentium perspiciatis!</p>
    		</div>
    	</a>
    </div>
  </ion-content>
</ion-view>
