<ion-view title="Paramètres">
   	<ion-content class="list-table bg-positive" scroll="false" id="parameters">
   		<h1 class="item">
   			<figure class="logo">
   				<img src="img/logo-large.png" alt="Digne d'éloges">
   			</figure>
   		</h1>
		<div class="item item-text">
			<table>
				<tr>
					<td>
						<i class="icon ion-ios7-telephone-outline"></i>
					</td>
					<td>
						<h2>Modifier mon profil</h2>
						<p>machin</p>
					</td>
					<td>
						<i class="icon ion-ios7-telephone-outline"></i>
					</td>
				</tr>
				<tr>
					<td>
						<i class="icon ion-ios7-telephone-outline"></i>
					</td>
					<td>
						<h2>Réglages</h2>
						<p>machin</p>
					</td>
					<td>
						<i class="icon ion-ios7-telephone-outline"></i>
					</td>
				</tr>
				<tr>
					<td>
						<i class="icon ion-ios7-telephone-outline"></i>
					</td>
					<td>
						<h2>Se déconnecter</h2>
						<p>machin</p>
					</td>
					<td>
						<i class="icon ion-ios7-telephone-outline"></i>
					</td>
				</tr>
			</table>
		</div>
   		<div class="item">
   			
   		</div>
	</ion-content>
</ion-view>