<ion-view title="Creer un compte">


	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button class="button-clear">
	    	<i class="ion-chevron-left"></i>
	  	</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content padding="true">
		<div class="list list-inset">
		<h2 class="underline">Identifiant</h2>
			<label class="item item-input">
				<i class="icon ion-person placeholder-icon"></i>
		 		<input type="text" placeholder="Pseudo/Prénom">
		 	</label>
		</div>
		<div class="list list-inset">
			<h2 class="underline">Date de naissance</h2>
			<label for="birthday"></label>
			<div class="item range range-positive">
				<input id="birthday" type="date" name="birthday" value="">
			</div>
		</div>
		<div class="list list-inset">
			<h2 class="underline">Sexe</h2>
			<label class="item item-radio radio-round">
				<input type="radio" name="group">
				<div class="item-content">
					Femme
				</div>
			</label>
			<label class="item item-radio radio-round-m">
				<input type="radio" name="group">
				<div class="item-content">
					Homme
				</div>
			</label>
		</div>
		<div class="list list-inset">
			<h2 class="underline">Localité</h2>
			<label class="item item-input">
				<i class="icon ion-map placeholder-icon"></i>
		 		<input type="text" placeholder="Ville">
		 	</label>
		</div>
		<div class="list list-inset">
			<h2 class="underline">Connexion</h2>
			<label class="item item-input">
				<i class="icon ion-email placeholder-icon"></i>
		 		<input type="text" placeholder="Adresse mail">
		 	</label>
		</div>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" placeholder="Mot de passe">
			</label>
		</div>
		<ul class="list">
			<li class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Lorem Ipsum
			</li>
		</ul>
		<div class="list list-inset">
			<a href="#/app/home" class="button button-block button-positive">
				Valider
			</a>
		</div>
	</ion-content>
</ion-view>