body {
	font-family:  $typo-p;
	font-weight: 300;
	color: $dark;
}

h2 {
	font-family: $typo-t;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #000;
}

.bar .title {
	font-weight: 700;
	font-family: $typo-p;
	font-size: 1.3rem;
}

.list-table {
	position:absolute;
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.list-table > .item {
	display: table-row;
}

.list-table .item .item-inner {
	border-top: 1px solid $stable;
	position: relative;
}

.list-table .item:first-child .item-inner{
	border-top: 0;
}

.list-table .item-inner {
	display: table-cell;
	vertical-align: middle;
	padding-left: 25px;
	padding-right: 50px;
	width: 100%;
}


.list-table .item-50 {
	height: 50%;
}

.list-table .item-33 {
	height: 33.333333%;
}


.list-table .item-inner h2 {
	color: $positive;
	font-size: 1.6em;
	line-height: 1.5em;
}

.list-table .item-inner p {
	max-width: 100%;
	overflow: normal;
	white-space: normal;
	text-overflow: normal;
}

.profil img {
	max-width: 75px;
	max-height: 75px;
	border: 2px solid $positive;
	border-radius: 50%;
	overflow: hidden;
}

.profil-small img {
	max-width: 50px;
	max-height: 50px;
}

.profil p {
	margin: 0;
}

.profil .name {
	font-size: 1.2em;
	line-height: 1em;
	font-family: $typo-p;
	font-weight: 400;
}

.profil .info {
	font-size: 0.9em;
	color: $greyLight;
}

.profil-inline {
	display: inline-block;
}

.profil-block {
	text-align: center;
}

.profil-inline .name {
	line-height: 1.5em;
}

.profil-inline img {
	vertical-align: middle;
}

.profil-inline figcaption {
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

.radio-round,
.radio-round-m {
	width: 40%;
	height: 40px;
	border-radius: 50px !important;
	text-align: center;
}

.radio-round {
	float: left;
}

.radio-round-m {
	float: right;
}

.radio-round .item-content,
.radio-round-m .item-content {
	padding: 0;
	line-height: 2.4em;
}

.bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bg-100 {
	background-image: url('../img/bg-100.jpg');
}

.bg-50-1 {
	background-image: url('../img/bg-50-1.jpg');
}

.bg-50-2 {
	background-image: url('../img/bg-50-2.jpg');
}


.bg-30-1 {
	background-image: url('../img/bg-30-1.jpg');
}

.bg-30-2 {
	background-image: url('../img/bg-30-2.jpg');
}

.bg-30-3 {
	background-image: url('../img/bg-30-3.jpg');
}


.bg-positive  {
	background-color: $positive;
	color: #FFF;
}


.tb {
	display: table;
	width: 100%;
	height: 100%;
}

.tb-cell {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

.alert-error {
	background-color: $energized;
	left: 0;
	position: fixed;
	top: 43px;
	width: 100%;
	padding:
}

#prehome .item,
#parameters .item:first-child {
	background-color: transparent;
}

#prehome .logo {
	display: table-cell;
	text-align: center;
	padding: 0 30%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: bottom;
}

#prehome .logo img {
	width: 100%;
	max-width: 330px;
	max-height: 356px;
}

#prehome .item-text {
	height: 5em;
}

#prehome .item-text p {
	display: table-cell;;
	height: 5em;
	overflow: normal;
	white-space: normal;
	text-overflow: normal;
	font-size: 1.2em;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
}

#prehome .item:last-child {
	height: 150px;
}

#prehome .item:last-child a {
	margin-bottom: 20px;
}

#parameters .logo img {
	width: 100%;
	max-width: 184px;
	max-height: 202px;
}

#parameters .logo {
	display: table-cell;
	text-align: center;
	padding-top: 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: top;
}

#parameters .logo figcaption {
	display: table-cell;
}

#parameters .item table {
	display: table;
}

#parameters .item table tr {
	display: table-row;
	height: 50px;
	border-top: 1px solid #fff;
	box-sizing: border-box;
}

#parameters .item table tr td {
	display: table-cell;
	width: 82%;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}

#parameters .item table tr td p,
#parameters .item table tr td h2 {
	padding-left: 20px;
}

#parameters .item table tr td:first-child {
	background-color: #f1b2b1;
	width: 9%;
	border-bottom: none;
	text-align: center;
	font-size: 2em;
	color: #fff;
	min-width: 55px;
}

#parameters .item table tr td:last-child {
	color: #ccc;
	font-size: 1.5em;
	text-align: center;
	width: 9%;
}

#login .list-inset{
	background: transparent;
}

/* Challenge */
#challenge-finish .list{
	margin: 0;
	padding: 21px 0;
	border-top: 1px solid $stable;
}

#challenge-finishe .list:first-child .item-inner {
	border-top: 0;
}

#challenge-finish .list:nth-child(2n) {
	background: $calm;
}

#challenge-finish h2 {
	margin: 0 20px 20px;
	font-size: 1.8em;
	border-bottom: 1px solid $dark;
	font-weight: 700;
	color: $dark;
}

#challenge-finish .list .row {
	margin-bottom: 1em;
}

#challenge-finish .list .row:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

#profil-card {
	padding: 20px;
	background-color: $calm;
}

#profil-description {
	padding: 20px;
}

#profil-challenge {
	padding: 20px;
}

.underline::after {
	content: '';
	width: 100%;
	background-color: #000;
	height: 1px;
	display: block;
}

.button-upload {
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 20px;
	width: 100%;
	font-size: 1em;
	position: relative;
	height: 123px;
}

.button-upload span {
	position: absolute;
	left: 50%;
	margin-left: -58px;
	bottom: 10%;
}

.button-upload > .icon {
	display: block;
	background-color: #E26462;
	height: 1.5em;
	width: 1.5em;
	position: absolute;
	top: 15px;
	padding-top: 3px;
	left: 50%;
	margin-left: -.75em;
	border-radius: 50%;
	font-size: 3em;
	color: #fff;
}

.icon2 {
	display: block;
	font-size: 1.5em;
	color: #fff;
	margin-top: 13px;
	text-align: center;
	background-color: #E26462;
	width: 2em;
	float: right;
	padding-top: 12px;
	height: 2em;
	border-radius:50%; 
}

.time {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}

.time i {
	color: $positive;
	font-size: 1.6em;
}

.time p {
	font-size: 0.9em;
	color: $greyLight;
}

.validate .row {
	display: table;
}

.validate .col {
	vertical-align: bottom;
	display: table-cell;
	width: auto;
}

.validate .button-stable {
	background-color: #f8f8f8;
}

.gender:checked {
	background-color: #f8f8f8;
}