<ion-view title="Défi de Mr BN">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	 <div class="list">
    	<div class="item">
			<figure class="profil profil-inline">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">MR BN</p>
					<p class="info">Paris, 75002</p>
					<p class="info">22 ans</p>
				</figcaption>
			</figure>
    	</div>
    </div>
	<div class="padding">
		<video class="video-js vjs-default-skin" controls preload="none" poster="http://video-js.zencoder.com/oceans-clip.png" data-setup="{}">
	    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'/>
	    </video>
	</div>
	<div class="padding">
		<h2>Description</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eligendi dolorem incidunt, ab esse officiis tempore illo fuga sapiente commodi rerum suscipit error explicabo, quaerat eos pariatur enim natus unde.</p>
	</div>
  </ion-content>
</ion-view>
