<ion-view title="Browse">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-person placeholder-icon"></i>
		 		<input type="text" placeholder="Titre du défi">
		 	</label>
		</div>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-map placeholder-icon"></i>
		 		<input type="text" placeholder="Ville">
		 	</label>
		</div>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-email placeholder-icon"></i>
		 		<input type="text" placeholder="Adresse mail">
		 	</label>
		</div>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" placeholder="Password">
			</label>
		</div>
		<ul class="list list-inset">
			<li class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Lorem Ipsum
			</li>
		</ul>
		<div class="list list-inset">
			<a href="#/app/home" class="button button-block button-positive">
				Valider
			</a>
		</div>
	</ion-content>
</ion-view>
