<!-- List challenge in porogress -->
<ion-view title="Défis en cours">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
    	<div class="item">
  			<figure class="profil profil-inline profil-small">
  				<img src="/img/bn.jpg" >
  				<figcaption>
  					<p class="name">Faire une grimace</p>
  				</figcaption>
  			</figure>
        <div class="time">
          <i class="icon ion-ios7-clock-outline"></i>
          <p>2J</p>
        </div>
    	</div>
    </div>
  </ion-content>
</ion-view>
