<!-- List challenge finished -->
<ion-view title="Défis réalisés">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" id="challenge-finish" >
  	<div class="list">
  		<h2>Faire une grimace</h2>
	  	<div class="row">
	  		<a href="#/app/challenge"  class="col col-33">
	  			<figure class="profil profil-block">
					<img src="/img/bn.jpg" >
					<figcaption>
						<p class="name">Raphaël</p>
						<p class="info">22 ans</p>
					</figcaption>
		  		</figure>
	  		</a>
			<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Tristan</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
	  		<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Charles</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
	  	</div>
	  	<div class="row">
	  		<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Niv</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
			<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Mr BN</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
	  		<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Mr BN</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
	  	</div>
	</div>
	<div class="list">
  		<h2>Faire une grimace</h2>
	  	<div class="row">
	  		<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Mr BN</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
			<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Mr BN</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
	  		<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Mr BN</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
	  	</div>
	  	<div class="row">
	  		<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Mr BN</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
			<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Mr BN</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
	  		<figure class="col col-33 profil profil-block">
				<img src="/img/bn.jpg" >
				<figcaption>
					<p class="name">Mr BN</p>
					<p class="info">22 ans</p>
				</figcaption>
	  		</figure>
	  	</div>
	</div>
  </ion-content>
</ion-view>
