<ion-view title="Défis">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll="false">
    <div class="list list-table">
      <a class="item bg-30-1 bg" href="#/app/challenge/create">
        <div class="item-inner item-33 item-icon-right">
          <h2>Créer un défi</h2>
          <p>Lancez une joute entre d’augustes Apollons prêts à tout pour satisfaire vos moindres désirs.</p>
          <i class="icon ion-ios7-telephone-outline"></i>
        </div>
      </a>
      <a class="item bg-30-2 bg" href="#/app/challenge/inprogress">
        <div class="item-inner item-33 item-icon-right">
          <h2>Défis en cours</h2>
          <p>Visualisez les joutes dans l’expectative d’une réponse.</p>
          <i class="icon ion-ios7-telephone-outline"></i>
        </div>
      </a>
      <a class="item bg-30-3 bg" href="#/app/challenge/finished">
        <div class="item-inner item-33 item-icon-right">
          <h2>Défis réalisées</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <i class="icon ion-ios7-telephone-outline"></i>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
