<ion-view title="Mr BN">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" >
  	<div id="profil-card">
		<figure class="profil profil-block">
			<img src="/img/bn.jpg" >
			<figcaption>
				<p class="name">Mr BN</p>
				<p class="info">Paris, 75002</p>
				<p class="info">22 ans</p>
			</figcaption>
		</figure>
		<div class="col">
			<a href="#" class="button button-block button-positive">
				Proposer un défi
			</a>
		</div>
	</div>
	<div id="profil-challenge">
		<h2 class="underline">Ses derniers défis réalisés</h2>
		<table>
			<td><i class="ion-ios7-telephone-outline"></i></td>
			<td><i class="ion-ios7-telephone-outline"></i></td>
			<td><i class="ion-ios7-telephone-outline"></i></td>
			<td><i class="ion-ios7-telephone-outline"></i></td>
		</table>
	</div>
	<div id="profil-description">
		<h2 class="underline">Description</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eligendi dolorem incidunt, ab esse officiis tempore illo fuga sapiente commodi rerum suscipit error explicabo, quaerat eos pariatur enim natus unde.</p>
		<a href="#" class="button button-block button-dark">
		 		Ajouter aux favoris
			</a>
	</div>
  </ion-content>
</ion-view>
