<ion-view title="Mr BN">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" >
  	<div id="profil-card">
		<figure class="profil profil-block">
			<img src="/img/bn.jpg" >
			<figcaption>
				<p class="name">{{user.username}}</p>
				<p class="info">{{user.city}}</p>
			</figcaption>
		</figure>
		<div class="col">
			<a href="#" class="button button-block button-positive">
				Proposer un défi
			</a>
		</div>
	</div>
	<div id="profil-description">
		<h2 class="underline">Description</h2>
		<p>{{description}}</p>
	</div>
  </ion-content>
</ion-view>
