<!-- List challenge in porogress -->
<ion-view title="Profils">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
    	<a class="item item-icon-right" href="#/app/profil">
  			<figure class="profil profil-inline">
  				<img src="/img/bn.jpg" >
  				<figcaption>
  					<p class="name">Mr BN</p>
            <p class="info">Paris, 75012</p>
  					<p class="info">22 ans</p>
  				</figcaption>
  			</figure>
        <i class="icon2 ion-ios7-telephone-outline"></i>
        <i class="icon ion-ios7-telephone-outline"></i>
    	</a>
      <a class="item item-icon-right" href="#/app/profil">
        <figure class="profil profil-inline">
          <img src="/img/bn.jpg" >
          <figcaption>
            <p class="name">Mr BN</p>
            <p class="info">Paris, 75012</p>
            <p class="info">22 ans</p>
          </figcaption>
        </figure>
        <i class="icon2 ion-ios7-telephone-outline"></i>
        <i class="icon ion-ios7-telephone-outline"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
