
.list-table {
	position:absolute;
	display: table;
	background: rgba(255, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	table-layout: fixed;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.list-table > .item {
	display: table-row;
}

.list-table .item .item-inner {
	border-top: 1px solid #E5E5E5;
}

.list-table .item:first-child .item-inner{
	border-top: 0;
}

.list-table .item-inner {
	display: table-cell;
	vertical-align: middle;
	padding-left: 25px;
	padding-right: 50px;
	width: 100%;
}

.list-table .item-inner p {
	max-width: 100%;
	overflow: normal;
	white-space: normal;
	text-overflow: normal;
}

.profil img {
	max-width: 75px;
	max-height: 75px;
	border: 1px solid #E5E5E5;
	border-radius: 50%;
	overflow: hidden;
}

.profil-small img {
	max-width: 50px;
	max-height: 50px;
}

.profil p {
	margin: 0;
}

.profil .name {
	font-size: 1.36em;
}

.profil-block {
	text-align: center;
}

.profil-inline img {
	vertical-align: middle;
}

.profil-inline figcaption {
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
}

.radio-round {
	width: 2em;
	height: 2em;
	border-radius: 50% !important;
	text-align: center;
}

.radio-round .item-content {
	padding: 0;
	line-height: 2em;
}




/* Challenge */
.challenge-finish {
	padding: 21px 0;
	border-top: 1px solid #E5E5E5;
}

.challenge-finishe:first-child .item-inner {
	border-top: 0;
}

.challenge-finish:nth-child(2n) {
	background: #F5F5F5;
}

.challenge-finish h2{
	margin: 0 20px ;
}